.header {
    width: 100%;
    height: 80px;
    background-color: transparent;
    color: white;
    padding: 0 128px;
    display: flex;
    align-items: center;

    h5 {
        margin-left: 8px;
    }
}

.headerAstro, .headerAdmin {
    .links {
        margin-left: auto;
        display: flex;
        gap: 32px;
    }
}

.headerHome {
    .profileIcon {
        margin-left: auto;
    }
}
