.table{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  row-gap: 16px;
  justify-items: center;
  .link{
    text-decoration: underline;
    &:hover{
      cursor: pointer;
    }
  }
}

.heading{
  font-weight: 700;
  text-decoration: none!important;
}

