.progressBar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .singleElement{
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;

        .circleCompleted, .circleEmptyInProgress, .circleEmpty
        {
            height: 17px;
            width: 17px;
            border-radius: 17px;
            border: 2px solid transparent;
        }

        .circleCompleted, .circleEmptyInProgress
        {
            border-color: #BF391B;
        }

        .circleCompleted
        {
            background-color: #BF391B;
        }

        .circleEmpty
        {
            border-color: #6A6A6A;
        }

        .lineOrange, .lineGray
        {
            height: 3px;
            width: 135px;
        }

        .lineOrange
        {
            background-color: #BF391B;
        }

        .lineGray
        {
            background-color: #6A6A6A;
        }

        .displayNone
        {
            display: none;
        }
    }
}