.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    object-fit: fill;
}

.title {
    color: white;
    width: fit-content;
    margin: 245px auto 0 auto;
}

.buttonA {
    display: block;
    margin: 321px auto 0 auto;
}
